---
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';
import mdStyles from '../components/sets/documents/md-styles.module.css'
import { organizationName, orgAbbrev } from '../constants'

const documents = await getCollection('documents');
const stories = await getCollection('stories');
stories.sort((a, b) => b.data.order - a.data.order);
---

<Layout
    title="Dark Patterns Digital documents"
    description='Tentative legal documents for Dark Patterns Digital, LCA (Dark Patterns Digital), a Limited Cooperative Association'
    className={mdStyles.container}>

    <h1>{organizationName} Documents</h1>

    <p>Documents for {organizationName} (**{orgAbbrev}**), a Limited Cooperative Association registered in the state of Colorado.</p>

    <ul>
        {documents.map((entry) =>
            <li>
                <a href={`/documents/${entry.slug}`}>{entry.data.title}</a>
            </li>)}
    </ul>

    <h2>Rendering to PDF</h2>

    <p>For now, open each page and use "Print to PDF" within your browser.</p>

    <h2>Explanations</h2>

    <p>Concepts, such as Patronage, are hard to understand from just the definitions themselves. The following pages help to explain how it works in practice.</p>

    <ul>
        {stories.map((entry) =>
            <li>
                <a href={`/stories/${entry.slug}`}>{entry.data.title}</a>
            </li>)}
    </ul>

</Layout>
